@model CompanyManagementSystem.Models.Company

 @{
    ViewData["Title"] = "AddCategory";
}

<h1>AddCategory</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UnRegister a company" id="formAction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" id="Id" />
                <span asp-validation-for="Id" class="text-danger" id="Id"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="Name" />
                <span asp-validation-for="Name" class="text-danger" id="Name"></span>
            </div>

            <p></p>
            <div class="form-group">
                <input type="button" value="Delete" class="btn btn-primary" id="button" />
            </div>
        </form>
    </div>
</div>

<p></p>
<p></p>

<p></p>
<p></p>
<p>
    <div id="result" style="color:green;font-size:large" onmousemove="disappear()"></div>
</p>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#button").click(function () {
                var Id = $("#Id").val();
               
                var Name = $("#Name").val();
               
               var data = $("#formAction").serialize();

                $.ajax({
                    url: "/Home/Delete",
                    data: data,
                    type: "POST",
                    success: function (response) {
                        $("#result").html("Success: " + JSON.stringify(response));
                        setTimeout(function () {
                            $("#result").html("");
                        }, 5000);
                    },
                    error: function (data) {
                        alert("Error: " + xhr.responseText)
                    },
                });
            });
        });

        function disappear(){
            $(document).ready(function () {
                $("#result").html("");
            });  
        }
    </script>
}
